.link_active3 {
  color: var(--orange-default);
}

.initial_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  position: relative;
}

.initial_left_content {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: bolder;
  text-align: center;
}

.initial_right_content {
  height: 400px;
}

.second_wrapper {
  background: var(--black-blue);
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  color: #ffff;
  overflow-x: hidden;
  overflow-y: hidden;
}

.second_left_content {
  width: 35%;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  z-index: 10;
}

.second_left_content h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-weight: bolder;
  margin: 0;
}

.second_right_content {
  height: 300px;
  z-index: 10;
}

.duvidas_wrapper {
  height: 100vh;
  background: var(--brown-default);
  display: flex;
  justify-content: center;
  align-items: top;
  flex-direction: column;
  text-align: center;
}

.duvidas_wrapper h2{
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bolder;
  margin: 0;
  color: #ffff;
}

.duvidas_content {
  color: #000;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #d9d9d9;
  height: 75%;
  border-radius: 0 15px 15px 0;
  box-shadow: 26px 10px 15px -3px rgba(0,0,0,0.1),
              0px 10px 15px -3px rgba(0,0,0,0.1);
  text-align: left;
}

.duvidas_text {
  width: 80%;
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.duvidas_text h2 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bolder;
  margin: 0;
}